/* line 3, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.code_block {
  position: relative;
  margin: 1em 0;
}
/* line 7, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.code_block h5 {
  position: absolute;
  top: -10px;
  left: 10px;
  color: #999;
  background: white;
  left: 0;
  padding: 0 10px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 9999;
}

/* line 22, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
div.code {
  position: relative;
  margin: 0;
  border: 1px solid #e6e5e9;
  padding: 10px 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #232323;
  overflow: hidden;
}

/* line 32, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
code {
  font-family: monospace;
  padding: 3px;
  background-color: #f0f0f0;
}

/* syntax coloring */
/* line 39, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .CodeRay {
  /*  background-color: #232323;*/
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}

/* line 50, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .CodeRay pre {
  margin: 0px;
  padding: 0px;
}

/* line 55, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .an {
  color: #E7BE69;
}

/* html attribute */
/* line 56, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .c {
  color: #BC9358;
  font-style: italic;
}

/* comment */
/* line 57, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .ch {
  color: #509E4F;
}

/* escaped character */
/* line 58, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .cl {
  color: #29547D;
}

/* class */
/* line 59, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .co {
  color: #29547D;
}

/* constant */
/* line 60, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .fl {
  color: #85A641;
}

/* float */
/* line 61, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .fu {
  color: #CA8F3B;
}

/* function */
/* line 62, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .gv {
  color: #D0CFFE;
}

/* global variable */
/* line 63, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .i {
  color: #A4C260;
}

/* integer */
/* line 64, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .iv {
  color: #807AAE;
}

/* instance variable */
/* line 65, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .pp {
  color: #E7BE69;
}

/* doctype */
/* line 66, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .r {
  color: #CB7832;
}

/* keyword */
/* line 67, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .rx {
  color: #A4C260;
}

/* regex */
/* line 68, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .s {
  color: #85A641;
}

/* string */
/* line 69, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .sy {
  color: #6C9CBD;
}

/* symbol */
/* line 70, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .ta {
  color: #E7BE69;
}

/* html tag */
/* line 71, /Users/wycats/Code/rails-api/public/stylesheets/sass/coderay.scss */
.CodeRay .pc {
  color: #6C9CBD;
}

/* boolean */
