/* line 14, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /Users/wycats/.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.alpha.0.845b790/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 26, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
html {
  font-family: Helvetica, sans-serif;
}

/* line 29, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
html, body, #page {
  height: 100%;
  overflow: hidden;
}

/* line 33, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#page {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: top;
  -moz-box-align: top;
  overflow: hidden;
}

/* line 37, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree, #methods, #details {
  padding: 10px;
}

/* line 40, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
.yellow {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 500ms;
  background-color: #ffffcc;
}

/* line 45, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
* {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 1000ms;
  background-color: inherit;
}

/* line 50, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree {
  padding: 0;
  background-color: #e8e8e8;
  border-right: 1px solid #979797;
  overflow: auto;
  width: 200px;
}
/* line 56, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree h1 {
  font-size: 12px;
  background: url("/images/the_gradient.gif");
  padding: 9px 5px 8px;
  border-bottom: 1px solid #979797;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
  color: #666666;
}
/* line 64, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree > ul {
  padding: 10px;
}
/* line 66, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree li {
  font-size: 12px;
  line-height: 12px;
  color: #333333;
  cursor: pointer;
}
/* line 72, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree li.active > a {
  font-weight: bold;
}
/* line 74, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree li span.icon {
  position: relative;
  top: -3px;
  display: inline-block;
  background: url("/images/folder.png") no-repeat;
  width: 16px;
  height: 20px;
  margin-right: 5px;
}
/* line 82, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree li span.icon.open {
  background: url("/images/open_folder.png") no-repeat;
}
/* line 84, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree li span.icon.file {
  background: url("/images/ruby_file.png") no-repeat;
}
/* line 86, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree li li {
  padding-left: 22px;
}
/* line 88, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#tree a {
  color: inherit;
  text-decoration: none;
}

/* line 92, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods {
  width: 275px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: top;
  -moz-box-align: top;
}
/* line 98, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods #buttons {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-align: top;
  -moz-box-align: top;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  margin-bottom: 20px;
}
/* line 102, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods #buttons .button {
  font-size: 14px;
  font-weight: bold;
  color: #444444;
  border: 1px solid #666666;
  height: 14px;
  background-image: url("/images/button_bg.png");
  padding: 6px;
  text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
  cursor: pointer;
}
/* line 112, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods #buttons .button.alphabetical {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 0;
}
/* line 115, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods #buttons .button.purpose {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -khtml-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 117, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods #buttons .button.active {
  background-position: 0 -33px;
}
/* line 119, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods h1 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #a2b5ce;
  margin-bottom: 10px;
}
/* line 125, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods .method-list {
  font-size: 12px;
}
/* line 127, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods .method-list li {
  color: #333333;
  margin-bottom: 4px;
  background: url("/images/info.png") no-repeat;
  padding: 2px 5px 5px 20px;
  cursor: pointer;
}
/* line 133, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods .method-list li a {
  text-decoration: none;
  color: inherit;
}
/* line 136, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods .method-list li a.current {
  font-weight: bold;
}
/* line 138, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods .method-list + .method-list {
  margin-top: 20px;
}
/* line 140, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#methods .method-list strong {
  font-weight: bold;
}

/* line 143, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details {
  padding: 20px;
  overflow-y: auto;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-align: top;
  -moz-box-align: top;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  background-color: white;
}
/* line 149, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details tt, #details code {
  font-family: monospace;
  background: #f0f0f0;
  padding: 3px;
}
/* line 154, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details div.section-description {
  padding: 20px;
  background-color: #eeeeee;
}
/* line 157, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details div.section-description h1, #details div.section-description h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
/* line 161, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details div.section-description h2 {
  margin-top: 30px;
}
/* line 164, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details h1:not(:first-child) {
  margin-top: 30px;
}
/* line 168, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details p {
  font-size: 14px;
  line-height: 22px;
}
/* line 171, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details p + p {
  margin-top: 10px;
}
/* line 174, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details div.code {
  background-color: white;
}
/* line 177, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details pre {
  font-family: monospace;
  font-size: 14px;
  line-height: 22px;
}
/* line 183, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .method-groups:not(:first-child) {
  margin-top: 50px;
}
/* line 185, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .method-groups h1 {
  font-size: 28px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
}
/* line 189, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .method-groups h2, #details .method-groups h3, #details .method-groups h4, #details .method-groups h5, #details .method-groups h6 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}
/* line 193, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .method-groups ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 196, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .method-groups li {
  font-size: 14px;
  line-height: 20px;
}
/* line 199, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .method-groups li + li {
  margin-top: 10px;
}
/* line 203, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .methods h2 {
  font-family: monospace;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
}
/* line 209, /Users/wycats/Code/rails-api/public/stylesheets/sass/screen.sass */
#details .methods h2:first-child {
  margin-top: 20px;
}
